body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wp-block-columns {
  display: flex;
  align-items: normal !important;
  column-gap: 1.5rem;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: calc(50vw - 650px);
  padding-right: calc(50vw - 650px);
  border-bottom: 1px solid black;
  overflow: hidden;
}

.section:last-child {
  border-bottom: 0;
}

.column {
  flex-basis: 33.33%;
}